@import url("https://fonts.googleapis.com/css?family=Tangerine");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Tangerine", cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.text {
  margin-bottom: 300px;
  margin: 20px;
}

h1 {
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
  color: #000000;
  font-weight: bolder;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 100px;
}

h3 {
  font-size: 25px;
  letter-spacing: 2px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: white;
  line-height: 1.2;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    100deg,
    rgba(32, 115, 255, 1) 0%,
    rgba(0, 194, 255, 1) 40%,
    rgba(197, 255, 84, 1) 100%
  );
}

section h2 {
  position: relative;
  text-align: center;
  font-size: 130px;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 0 5px 102px rgba(0, 0, 0, 0.2);
}

section h2:before {
  content: "";
  position: absolute;
  top: -80px;
  left: -100px;
  width: 200px;
  height: 200px;
  background: transparent;
  border-left: 15px solid #fff;
  border-radius: 50%;
  transform: rotate(-30deg);
  box-shadow: -14px 1px 10px rgba(0, 0, 0, 0.1);
}

.mosque {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 380px;
  background: url("images/kurban.png");
  background-repeat: repeat-x;
  background-size: 950px;
  z-index: 1;
  pointer-events: none;
  animation: animate 20s linear infinite;
}

@media only screen and (max-width: 768px) {
  .text {
    margin-bottom: 300px;
    margin: 45px;
  }

  .text h2 {
    font-size: 100px;
  }

  h1 {
    font-size: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 25px;
    font-weight: bolder;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 100px;
  }

  h3 {
    letter-spacing: 2px;
    margin-top: 15px;
    font-size: 25px;
    text-align: center;
    line-height: 1.2;
    font-family: "Josefin Sans", sans-serif;
  }

  section h2 {
    font-size: 80px;
    letter-spacing: 1px;
    position: relative;
  }

  section h2:before {
    content: "";
    position: absolute;
    top: -50px;
    left: -35px;
    width: 100px;
    height: 100px;
    background: transparent;
    border-left: 15px solid #fff;
    border-radius: 50%;
    transform: rotate(-30deg);
    box-shadow: -14px 1px 10px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (max-width: 768px) {
  .text h2 {
    font-size: 70px;
  }

  h3 {
    letter-spacing: 1.5px;
    margin-top: 10px;
    font-size: 23px;
    font-family: "Josefin Sans", sans-serif;
  }
  h1 {
    margin-bottom: 100px;
  }
}
@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 1200px;
  }
}

.mosque:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 550px;
  background: url("images/mosque.png");
  background-repeat: repeat-x;
  background-size: 1600px;
  z-index: 1;
  pointer-events: none;
  opacity: 0.1;
  animation: animateReverse 40s linear infinite;
}

@keyframes animateReverse {
  0% {
    background-position: 1600px;
  }
  100% {
    background-position: 0px;
  }
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
